ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* lvha */
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}
.red{
    color:#A94442;
}
.body_bgc{
    background-color:#222D32;
}
.panel-title{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
}
.mt_150{
    margin-top: 150px;
}
.mt_20{
    margin-top: 20px;
}

.lt_aside{
    width: 180px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #222D32;
    transition: all 1s;
}
.lt_aside.hidemenu{
    left:-180px;
}
.brand{
    height: 50px;
    line-height: 50px;
    background-color: #367FA9;
    color:#fff;
    font-size: 22px;
    text-align: center;
}
.user{
    padding-top: 30px;
    width: 180px;
    height: 180px;

}
.user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin:0 auto;
}
.user p{
    height: 40px;
    line-height: 40px;
    color:#fff;
    font-size: 20px;
    text-align: center;
}
.nav ul li a{
    display: block;
    padding-left: 40px;
    color:#fff;
    height: 40px;
    line-height:40px;
    border-left: 3px solid transparent;
}
.nav ul li a.current{
    border-left: 3px solid #367FA9;
    background-color: #222D32;
}
.nav ul li a i{
    margin-right: 4px;
}
.nav ul li .child{
    padding-left: 20px;
    display: none;
}
.lt_main{
    padding-left: 180px;
    padding-top: 50px;
    height: 2000px;
    background-color:pink;
    transition: all 1s;
}
.lt_main.hidemenu{
    padding-left: 0;
}
.lt_toopbar{
    height: 50px;
    background-color: #3C8DBC;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 180px;
    transition: all 1s;
}
.lt_toopbar.hidemenu{
    padding-left: 0;
}
.lt_toopbar a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    color:#fff;
    font-size: 22px;

}